body {
    font-family: Arial, Helvetica, sans-serif;
}

.tudo {
    width: 60%;
    border: solid 1px;
    margin: 0 auto;
    text-align: center;
    padding: 30px; 
}

.linha {
    clear:both;
    margin:5px;
}

/* Cabeçalho */

h1 {
    background-color: rgb(91, 24, 6);
    padding: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    color:rgb(91, 24, 6);
    text-align: left;
    margin-bottom: 0px;
}

h3 {
    color:rgb(91, 24, 6);
    text-align: left;
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 5px;
}


hr {
    margin-bottom: 5px;
    margin-top: 3px;
    color: rgb(91, 24, 6);
}

p {
    margin-top: 0px;
    text-align: left;
}

.titulocontato {
    color: rgb(91, 24, 6);
    font-weight: bolder;
}


/* Foto e contato */
#imgFoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#foto {
    width: 40%;
    float: left;
}

#contato {
    width: 50%;
    float: left;
    text-align: left;
    font-size:20px;
    line-height: 25px;
}

/* objetivos */
#objetivos {
    text-align: left;
}

/* formacao */
#formacao {
    text-align: left;
}

/* hab/comp */

#coluna1{
    float:left;
    width: 46%;
    margin-right: 2%;
}

#coluna2 {
    float:left;
    border: solid 1px rgb(91, 24, 6);
    height: 400px;
    margin-top: 40px;

}

#coluna3 {
    float:left;
    width: 46%;
    margin-left: 2%;
}

.circulo {
    float:right;
    background-color: rgb(91, 24, 6);
    height: 17px;
    width:18px;
    margin-right:5px ;
    border-radius: 50%;
}

.itens {
    float: left;
}